{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-items me-auto mb-8 mb-lg-0" >
        <li class="nav-item" style="left: 10px;">
          <a class="nav-link active" aria-current="page" href="{% url 'prospects:conversion-tracker' %}">Active Conversions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prospects:business-prospects' %}">Prospects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"> <a href="{% url 'auth_app:home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Business Prospects</li>
    </ol>
  </nav>
<div class="card">
    <div class="card-header">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5"></div>
                <div class="col-md-2"> 
                    <a href="{% url 'prospects:create-prospect' %}"><button type="submit" class="btn button-add">+New Lead</button></a>
                </div>
            </div>
            <div class="row">
                <table class="table data table-sm" >
                    <tr>
                    <th>Facility Name</th>
                    <th>County</th>
                    <th>Town</th>
                    <th>Email</th>
                    <th>Contact Person</th>
                    <th>Contact Phone No</th>
                    <th>Action</th>
                    </tr>

                    {% for n in page.object_list %}
                    <tr>
                        <td><a class="a-shortcut" href="{% url 'prospects:save_feedback' n.lead_id %}">{{n.facility_name|upper}}</a></td>
                        <td>{{n.county|upper}}</td>
                        <td>{{n.town|upper}}</td>
                        <td>{{n.email|lower}}</td>
                        <td>{{n.contact_person|capfirst}}</td>
                        <td>{{n.phone_no}}</td>
                        <td><a href="{% url 'prospects:update-prospects' n.lead_id %}"><span class="fa fa-edit" style="color: orange; font-size: large;"></span></a> </td>
                    </tr>
                    {% endfor %}
                </table> 
               <div class="container">
                <div class="row my-6">
                    <div class="col-md-4 offset-md-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                              <li class="page-item">
                                {% if page.has_previous %}
                                <a class="page-link" href="{% url 'prospects:business-prospects' %}?page={{ page.previous_page_number }}">Previous</a>
                              </li>
                                {% endif %}
                                {% for num_page in page.paginator.page_range %} <br>
                                {% if page.number == num_page %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link"  href="{% url 'prospects:business-prospects' %}?page={{num_page}}">{{ num_page }}</a>
                                </li>
                                {% else %}
                                <li class="page-item" aria-current="page">
                                    <a class="page-link"  href="{% url 'prospects:business-prospects' %}?page={{num_page}}">{{ num_page }}</a>
                                </li>
                                {% endif %} <br>
                                {% endfor %}
                              <li class="page-item">
                                {% if page.has_next %}
                                <a class="page-link" href="{% url 'prospects:business-prospects' %}?page={{ page.next_page_number }}">Next</a>
                                {% endif %}
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
               </div>
        </div>
    </div>
</div>

{% endblock %}