{% extends 'main.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-items me-auto mb-8 mb-lg-0" >
          <li class="nav-item" style="left: 10px;">
            <a class="nav-link active" aria-current="page" href="{% url 'prospects:conversion-tracker' %}">Active Conversions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prospects:business-prospects' %}">Prospects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a   href="{%url 'prospects:business-prospects' %}">Business Lead</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Business Prospect </li>
    </ol>
  </nav>
<center>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px">
            {% for field in form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="btn btn-lg button-cancel" href="{% url 'prospects:business-prospects' %}">Cancel</a>
        <button type="submit" class="btn btn-lg button-add">Add</button>
    </form>
</center>
{% endblock %}