{% extends 'main.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-items me-auto mb-8 mb-lg-0" >
          <li class="nav-item" style="left: 10px;">
            <a class="nav-link active" aria-current="page" href="{% url 'prospects:conversion-tracker' %}">Active Conversions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prospects:business-prospects' %}">Prospects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'prospects:business-prospects' %}">Prospects</a></li>
      <li class="breadcrumb-item active" aria-current="page">Feedback
      </li>
    </ol>
  </nav>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <table class=" data " >
                            <tr>
                            <th>Facility Name</th>
                            <th>Initial Feedback</th>
                            <th>Date</th>
                            </tr>
                            <tr>
                                <td>{{prospect.facility_name|upper}}</td>
                                <td>{{prospect.comment|upper}}</td>
                                <td>{{prospect.created_date|upper}}</td>
                            </tr>
                        </table> 
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="col-md-9" style="margin-top: 30px;">
                <div class="card" style="margin-top: 13px;">
                    <center><h5>Follow-up Details</h5></center>
                    <table class="table data " >
                        <tr>
                            <th>Feedback</th>
                            <th>Date</th>
                        </tr>
                        {% for feedback in prospect.feedback_set.all %}
                        <tr>
                            <td>{{ feedback.feedback }}</td>
                            <td>{{ feedback.feedback_timestamp }}</td>
                        </tr>
                        {% empty %}
                        <p>No Feedback Available</p>
                        {% endfor %}
                    </table> 
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 30px;">
                <div class="card">
                    <div class="card-header">
                        <h5 style="margin-top: 8px; margin-left: 85px;">Add feedback</h5>
                    </div>
                    <div class="card-body">
                        
                        <form id="myform" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" style="background-color: orange; margin-left: 25px;">Save Feedback</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}