{% extends 'main.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a href="{% url 'auth_app:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'payments:receiptsdetails' %}">Receipts</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Implementation Details</li>
  </ol>
</nav>
<center>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px">
            {% csrf_token %}
            {{ form }}
        </table>
        <a class="btn btn-secondary" href="{% url 'payments:clients-details' %}">Cancel</a>
        <input class="btn btn-info" type="submit" value="Update">
    </form>
</center>
{% endblock %}
