{% load static %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'saramed-logo.jpg' %}" class="img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'calls:viewsupportcall' %}">CALL LOGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'payments:clients-details' %}">ACCOUNTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'payments:transactional_report' %}">PAYMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prospects:business-prospects' %}">BUSINESS PROSPECTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_app:home' %}">OVERVIEW</a>
          </li>
        </ul>
        <a class="btn btn-dark btn-sm" href="{% url 'auth_app:logout' %}" role="button">Log Out</a>
      </div>
    </div>
  </nav>

